@renaultgroup-grey: #E0E0E0;
@renaultgroup-grey-light: #F7F7F7;

@renaultgroup-yellow: #FCE903;
@renaultgroup-yellow-light: #FFFCD2;

.header .searchbox, #menu .search-bar {
	border: solid .0625rem @renaultgroup-grey;
	background-color: @renaultgroup-grey-light;
	input, button {
		background: inherit;
		border: none 0;
		border-radius: inherit;
	}
	button:hover {
		color: inherit;
	}
}
.index {
	border: none 0;
}

/* Bootstrap striped tables hack */
.table {
	--bs-table-striped-bg: transparent;
	--bs-table-hover-bg: transparent;
	box-shadow: none;
}

.list-shortcuts .item {
	border: solid .0625px @renaultgroup-grey;
	background: transparent;
}

.alert-info {
	background-color: @renaultgroup-yellow-light;
	border-color: @renaultgroup-yellow;
}

ul.sub-menu a.menu-sel::before {
	background: @renaultgroup-yellow;
}

/* TODO: Should not be necessary */
.header {
	.main-nav-toggle {
		&:hover {
			color: #FFFFFF;
		}
	}
}