/* Base */

/* Main */

/* Menu */

/* Buttons */
@btn-action-background-color: #909090;
@btn-transition-background-color: #FCE903;
@btn-transition-color: #000000;

/* Panel */
@panel-box-shadow: 0.125rem 0.125rem 1rem #e0e0e0;

/* Sub-panel */
@subpanel-border-color: solid 1px #E0E0E0;

/* Tabs */
@tab-border-radius: 0rem;
@tab-content-box-shadow: 0.125rem 0.125rem 1rem #e0e0e0;

/* Field */

/* List */
@list-border-color: transparent;
@list-area-background: #FFFFFF;
@list-head-background: #F0F0F0;
@list-filter-background: #F0F0F0;
@list-background: #FFFFFF;
@list-background2: #F7F7F7;
@list-hover: #F0F0F0;
@list-foot-background: #F0F0F0;

/* Dialog */

