/bin
/build
/target
/node_modules
/package-lock.json
/tmp
/temp
/effective.pom
/effective-pom.xml
/.gradle
/.m2
/.scannerwork
/checkstyle-report.xml
/**.bak
/**/Thumbs.db
/**/.DS_Store

# -- Eclipse --
#/.classpath
#/.settings
#/.project
#/.apt_generated*

# -- IntelliJ --
#/.idea
#/*.iml

# -- VSCode --
#/.vscode

# -- Theia --
#/.theia
#/.factorypath

# -- GitHub --
#/.github
